body {
    font-family: "Roboto Light", sans-serif;
}

#header {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: left;
    position: sticky;
    top: 0;
    z-index: 1000;
}

#header h1 {
    margin-left: 10px;
}

#menu a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
    padding: 8px 15px;
    border: 2px solid #4CAF50;
    border-radius: 5px;
    display: inline-block;
}

#menu a:hover {
    background-color: #45a049;
    border-color: #45a049;
}

#credits {
    position: fixed;
    bottom: 0;
    right: 10px;
    font-size: small;
    font-style: italic;
}

#customer-preferences-form {
    margin: 20px;
}

#customer-preferences-form h1 {
    margin-bottom: 10px;
}

#customer-preferences-form p {
    margin-top: 5px;
    font-size: small;
    font-style: italic;
    margin-bottom: 25px;
}

#customer-preferences-form label {
    display: block;
    margin-bottom: 10px;
    background-color: #f0f8f0;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #4CAF50;
}

#customer-preferences-form label {
    font-weight: bold;
}

#grocery-list div {
    border: 2px solid green;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
}

#grocery-list div img {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
}

#cart-list div {
    border: 2px solid green;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
}

#cart-list div img {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
}

.custom-checkbox {
    display: flex;
    align-items: center;
    user-select: none;
}

.custom-checkbox input[type="checkbox"] {
    display: none;
}

.checkmark {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #ddd;
    border-radius: 4px;
    margin-right: 5px;
}

.custom-checkbox input[type="checkbox"]:checked + .checkmark {
    background-color: #4CAF50;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.custom-checkbox input[type="checkbox"]:checked + .checkmark:after {
    display: block;
}

.checkmark:after {
    left: 7px;
    top: 1px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

#checkout-transfer {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 4px;
}

#checkout-transfer:hover {
    background-color: #45a049;
}

#checkout-container {
    width: 300px;
    float: left;
    margin: 20px;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#checkout-container > h2 {
    color: #333;
    text-align: left;
}

#checkout-container label {
    display: block;
    margin: 10px 0 5px;
    font-size: 16px;
    color: #333;
    text-align: left;
}

#checkout-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#checkout-container button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#checkout-container button:hover {
    background-color: #45a049;
}



